@font-face {
  font-family: "vazir";
  src: url("../fonts/vazir.eot");
  src: url("../fonts/vazir.ttf") format("truetype"),
    url("../fonts/vazir.woff2") format("woff2"),
    url("../fonts/vazir.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "vazir";
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1{
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 5px solid #c00;
}

.password{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  position:relative;
  /* background-color: blueviolet; */
}

.password input{
  width: 250px;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  border: none;
  box-shadow: 0 0 15px #ccc;
  outline: none;
  /* outline:1px solid cyan; */
}

.hidden{
  display: none !important; 
}

.password .toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  padding: 12px;
  background-color: red;
  /* border: 1px solid #bbb; */
  margin-left: 4px;
  border-radius: 0 10px 10px 0;
  background-color: white;
  box-shadow: 10px 0 20px #eee;
}

.hide .fa-eye {
  display: none;
}
.fa-eye-slash{
  display: none;
}

.hide .fa-eye-slash {
  display: block;
}